<section class="search" *ngIf="search">
  <form>
    <div class="row justify-content-center mb-4">
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input
            type="text"
            class="form-control"
            name="filterSearch"
            placeholder="Buscar..."
            [(ngModel)]="filterSearch"
          />
          <div class="input-group-append">
            <button
              [ngClass]="filterSearch.length >= 2 ? 'input-group-text' : 'invisible'"
              (click)="onSubmit(filterSearch)"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<div class="row justify-content-center">
  <section class="list col-md-4">
    <ul class="list-inline justify-content-center">
      <li
        *ngFor="let owner of ownerList; index as i"
        (click)="onSelect(owner.id)"
        [class.selected]="owner.id == selected"
      >
        {{ owner.first_name }}, {{ owner.last_name }}, {{ owner.gender }},
        {{ owner.status }}
      </li>
    </ul>
    <a class="btn btn-owner-list" (click)="showMore()"><span>Ver más</span></a>
  </section>

  <section
    *ngIf="ownerSelected"
    class="details col-md-4 mb-5 align-items-center sticky-top"
  >
    <ul class="list-inline justify-content-center">
      <li>
        <p>{{ ownerSelected.first_name }}</p>
        <p>{{ ownerSelected.last_name }}</p>
        <p>{{ ownerSelected.gender }}</p>
        <p>{{ ownerSelected.dob | dob }}</p>
        <p>{{ ownerSelected.email }}</p>
        <p>{{ ownerSelected.phone }}</p>
        <p>{{ ownerSelected.website }}</p>
        <p>{{ ownerSelected.address }}</p>
        <p>{{ ownerSelected.status }}</p>
      </li>
    </ul>

    <a class="btn btn-owner-list" (click)="saveFav(ownerSelected)"
      ><span>Añadir a favoritos</span></a
    >
  </section>
</div>

<div class="alert alert-warning collapse alert-fav" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
  <h5><strong>Ojo!</strong> Ya has añadido este dueño a favoritos.</h5>
</div>
